# Ignore build artifacts and temporary files
cmake-build-*
.idea/
*.iml
*.o
*.obj
*.swp
*.dSYM/
*.DS_Store
*.exe
*.out
*.a
*.so
*.dll
*.log
*.tmp

# Ignore CLion-specific files
.cmake/
CMakeLists.txt.user
*.dir/
*.cbp
Makefile

